:root {
  --color-main: #0083cd;
  --color-sub: #6fcbf8;
  --color-white: #fff;
  --color-light-gray: #eee;
  --color-copy-gray: #efefef;
  --color-gray: #bdbdbd;
  --color-dark-gray: #757575;
  --color-backdrop: rgba(0, 0, 0, 0.5);
  --color-unresolved: #757575;
  --color-resolving: #4cb7ea;
  --color-resolved: #7ac06f;
  --color-rejected: #f57970;
  --color-unapproval: #b18ad9;
  --color-confirmed: #fbc057;
  --color-toast: #6f6f6f;
  --font-bold: 600;
  --font-x-small: 0.75rem;
  --font-small: 0.875rem;
  --font-medium: 1rem;
  --font-large: 1.25rem;
  --font-x-large: 1.5rem;
  --border-radius: 0.5rem;
  --border-rounded: 2rem;
  --box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-light-gray);
}

body {
  width: 100%;
  max-width: 36rem;
  min-height: 100vh;
  overflow: auto;
  margin: auto;
  background-color: var(--color-white);
  font-family: sans-serif;
  font-size: 1rem;
  text-underline-offset: 0.1rem;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
